<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>sushizuki</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/adm/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userController</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/menu.jsp</url-pattern>
  </servlet-mapping>
</web-app>